# Core ML and Deep Learning
tensorflow==2.20.0
numpy==2.0.1
pandas==2.3.2
scikit-learn==1.7.2

# Data Visualization
matplotlib==3.10.6
seaborn==0.13.2

# Development and Jupyter
ipykernel==6.29.5

#Flask
flask
